@model SchoolBusinessLogic.BindingModel.ReportBindingModel

@{
    ViewData["Title"] = "Формирование отчетов";
}


<div class="row">
    <div class="col-md-4">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateFrom" class="control-label"></label>
                <input required asp-for="DateFrom" class="form-control" />
                <span asp-validation-for="DateFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTo" class="control-label"></label>
                <input required asp-for="DateTo" class="form-control" />
                <span asp-validation-for="DateTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" asp-action="ShowReport" formmethod="post" value="Демонстрировать" class="btn btn-primary w-100" />
            </div>
            <div class="form-group">
                <input type="submit" asp-action="SendMail" value="Отправить на почту" class="btn btn-primary w-100" />
            </div>
        </form>
    </div>
</div>

<div class="embed-responsive embed-responsive-16by9">
    <iframe id="frame" hidden></iframe>
</div>


<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function refresh() {
        @if (ViewBag.FilePath != null)
        {
            <text>
            var frame = document.getElementById('frame');
            frame.src = '@ViewBag.FilePath';
            frame.hidden = false;
            </text>
         }
    }

    window.onload = refresh;
</script>